body          { font-size: 11px; font-family: verdana,arial,sans-serif; }
img           { border: 0px; }

/* navigation */
.navi         { background: #000; color: #AAA; margin: 0; padding: 0; }
.nav          { opacity:.8; float: right; margin: 0; padding: 0; }
.nav .ysel    { background: #333; }
.nav .nsel    { background: #000; }
.nav a        { color: #AAA; text-decoration: none; font-family: verdana,arial,sans-serif; }
.nav a:link   { color: #AAA; text-decoration: none; font-family: verdana,arial,sans-serif; }
.nav a:visited{ color: #AAA; text-decoration: none; font-family: verdana,arial,sans-serif; }
.nav a:hover  { color: #FFF; text-decoration: none; font-family: verdana,arial,sans-serif; }
.nav a:active { color: #FFF; text-decoration: none; font-family: verdana,arial,sans-serif; }
.nav ul       { list-style: none; margin: 0; padding: 0; }
.nav li       { font-size: 14px; padding-left:  8px; font-weight: bold; }
.nav li ul li { font-size: 11px; padding-left: 12px; }

/* search */
.search       { width: 220px; margin:5; }
.search td:not(:first-child) { width:0; display: none; }
.searchResult { width: 100%; }

/* header */
h1            { font-size: 16px; font-weight: bold; }
.shortText    { }

/* page menu */
.menu         { font-size: 11px; }
.menu .title  { font-weight: bold; padding-bottom: 4px; }
.menu .text   { }

/* posts */
h2            { font-size: 14px; font-weight: bold; }
.posts        { font-size: 11px; }
.posts .title { }
.posts .text  { }

/* dos window */
.dosw         { background: #DDD; width: 100%; }
.dosw .title  { font-size: 12px; background: #26F; color: FFF; font-weight: bold; text-decoration: none; font-family: verdana,arial,sans-serif; }
.dosw .text   { font-size: 11px; background: #000; color: CCC; font-family: monospace; }

/* word styles */
.btchscr      { width: 100%; }
.numbrs       { font-size:  8pt; padding: 1em; line-height: 12pt; margin: 0; padding: 0; color:#AAA; }
.code         { font-size:  8pt; padding: 1em; line-height: 12pt; margin: 0; padding: 0; background: #CFC; }
.code ol      { font-family: monospace; color:#AAA; background: #CFC; }
.codeop       { font-size:  8pt; padding: 1em; line-height: 12pt; margin: 0; padding: 0; font-family: monospace; color:#CCC; background: #000; }
.inst         { font-size: 12px; color: #000; }
.inde         { padding-left: 50pt; padding-right: 50pt; }
.resu         { font-size: 12px; color: #000; background: #EEE; text-indent: 3em }
.instr        { font-size: 12px; color: #000; }
.resul        { font-size: 12px; color: #000; background: #EEE; }

/* code highlighter */
.c_cmmt       { color: #080; }
.c_cmnt       { color: #00F; text-decoration: none; }
.c_pvar       { color: #F80; }
.c_labl       { color: #F0A; }

.bot          { float: bottom; }
